<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aos">
    <!-- 인터넷 권한 필수 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/farmercy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/farmercy_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AOS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CropPesticideActivity"
            android:exported="false" />
        <activity
            android:name=".DiseaseSearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".PesticideGuideActivity"
            android:exported="false" />
        <activity
            android:name=".ToolGuideDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ToolGuideActivity"
            android:exported="false" />
        <activity
            android:name=".MonthlyDiseaseActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".AiInferenceTestActivity"
            android:exported="true" />
        <!--<activity
            android:name=".PhotoFragment"
            android:exported="false" /> -->
        <activity android:name=".DiseasePesticideActivity" />
        <activity
            android:name=".MyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" /> <!-- 시작 액티비티: LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>